<div class="grid-container">

  <!-- <h1 class="mat-h1">Home</h1>
  <mat-grid-list *ngFor="let account of accounts " cols="2" rowHeight="150px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card"  >
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
           
            <h2>{{account.n_account}}</h2>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->

  <h1 class="mat-h1">Home</h1>
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> 
            <!-- My Money
            <br> -->
            
            <!-- <strong class="balance"SIZE=10>{{TotalBalance}} €</strong> -->
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div>Card Content Herey</div> -->
          <p class="balance" >Balance total</p>
          <h1 class="balance">{{TotalBalance}} €</h1>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


  <h1 class="mat-h1">Accounts</h1>
  <mat-grid-list *ngFor="let accountsBalance of accountsBalances" cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card"  >
        <mat-card-header>
          <mat-card-title >
            <!-- {{card.title}} -->
            
           
            
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <!-- <div>Card Content Here</div> -->
          <h2 class="titulo">Account Number:</h2>
          <div>
          <h4 class="n_account">{{accountsBalance.n_account}} </h4>
          <h1 class="balanceAccount">{{accountsBalance.balance}} €</h1>
          </div>
         
          
          <!-- <h2>{{accountsBalance.balance}}</h2> -->
          <!-- <p *ngIf=accountsBalances>{{balance}}</p> -->
          <!-- <p>{{accountsBalance.n_account}}</p> -->
          
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>




  <h1 class="mat-h1">Credit Card</h1>
  <mat-grid-list cols="2" *ngFor="let AllCreditCards of AllCreditCardsUser"  rowHeight="150px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> 
            <!-- My Money
            <br> -->
            
            <!-- <strong class="balance"SIZE=10>{{TotalBalance}} €</strong> -->
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div>Card Content Herey</div> -->
          <!-- <p class="balance" >Balance total</p>
          <h1 class="balance">{{TotalBalance}} €</h1> -->
          <div>

            <a href="credit_card/{{AllCreditCards.n_card}}"><input type="image" routerLink="'/credit_card/',creditCard.n_card" src="assets/img/targetas/tarjeta-credito-red.png" class="img-card-credit"  /></a>

              <h2 class="contenidoCard">Nunber Card: {{AllCreditCards.n_card}}</h2>

              <h5 class="titleCard">{{AllCreditCards.n_card}}</h5>
              <p>Number Account: {{AllCreditCards.n_account}}</p> 
              

          </div>
         

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>











  <h1 class="mat-h1">Last movements</h1>
<a href="bankOperationTable">Tabla</a> 
  <mat-grid-list *ngFor="let AllOperationsUser of AllBankOperationsUser " cols="2" rowHeight="300px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card"  >
        <mat-card-header>
          <mat-card-title>
            <!-- {{card.title}} -->
            <h1 class="dateTitle">{{AllOperationsUser.date_operation | date: 'LLL  dd'  }} | {{AllOperationsUser.date_operation | date: 'EEEE' }}</h1>
           
            <!-- <p>{{AllOperationsUser.n_account}}<p>
            <p>{{AllOperationsUser.type}}</p>
            <p>{{AllOperationsUser.quantity}}</p>
            <p>{{AllOperationsUser.balance}}</p>
            <p>{{AllOperationsUser.date_operation}}</p> -->

          
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div>Card Content Here</div> -->
            <!-- <p>{{AllOperationsUser.n_account}}<p>
            <p>{{AllOperationsUser.type}}</p> -->
            <hr>
            <h2 class="concept">{{AllOperationsUser.concept}}</h2>
            <h1 class="concept">{{AllOperationsUser.quantity}} €</h1>
            <p class="n_account">{{AllOperationsUser.balance}} €</p> 
            <hr>
            <p>{{AllOperationsUser.date_operation | date:'medium' }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>



</div>


