
<div  >
    <img src="assets/img/icons/santa03.png" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">



<mat-card>
    <mat-card-title><img src="assets/img/icons/santanderIcono.png"  width="100px" height="100px"></mat-card-title>
<mat-card-content>
<form id="contactForm" [formGroup]="loginForm"  novalidate (ngSubmit)="ClickVerificationLogin()">

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Type of Document</mat-label>
      <mat-select  formControlName="type">
        <mat-option   value="dni"><p>DNI</p> </mat-option>
        <mat-option   value="cif"><p>CIF</p> </mat-option>
      </mat-select>
    </mat-form-field>
 </p>
  <p>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="User Code" formControlName="user_code" class="form-control"  name="user_code">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
       <input matInput type="password" placeholder="password" formControlName="password" class="form-control"  name="password">       
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  <!-- <a  (click)="PageRegister()">Regístrate ahora</a> -->
  <button mat-button  (click)="PageRegister()">Register now</button>
  <div class="button">
    
    <button 
    type="submit"
    id="btnSubmit" 
    mat-raised-button color="primary">
    Login
  </button>
  </div>

</form>
</mat-card-content>
</mat-card>

</div>
