<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/img/icons/santander-portada.png" width="200" height="60" alt="">

      <!-- <a mat-list-item routerLink="profile"> <mat-icon aria-hidden="false" aria-label="">local_post_office</mat-icon>Buzon</a> -->


      <nav >
        <button mat-button routerLink="home" ><mat-icon aria-hidden="false" aria-label="">home</mat-icon> Home</button>
        <button mat-button routerLink="buzon" ><mat-icon aria-hidden="false" aria-label="">local_post_office</mat-icon> Buzon</button>
        <button mat-button routerLink="aria-personal" ><mat-icon aria-hidden="false" aria-label="">person</mat-icon> Area Peresonal </button>
        <button mat-button routerLink="sofia" ><mat-icon aria-hidden="false" aria-label="">equalizer</mat-icon> SO:FIA</button>
        <button mat-button routerLink="ff" ><mat-icon aria-hidden="false" aria-label="">disabled_by_default</mat-icon> Disconnected</button>
        
      </nav>
      
         
    </mat-toolbar>

    <router-outlet></router-outlet>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
